.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 9px solid #blueviolet;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center; /* Added to align horizontally at the center */

}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  position: relative;
}

.locations {
  border-right: 1px solid #DDDDDD; 
}
.locations .popover,
.amenities .popover {
  position: absolute;
  background-color: #FAFAFA;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: none;
}
.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
}
.locations h2 {
  font-size: 16px;
  margin: 0;
}

.filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
  align-self: right; 
}

.filters button:hover {
  opacity: 0.9;
}
.locations h3,
.amenities h3 {
  margin-bottom: 0; 
}

.locations h4,
.amenities h4 {
  margin-top: 0; 
}
