/* styles/8-places.css */

.places {
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: auto;
  justify-content: center; 

}

.places h1 {
  font-size: 30px;
  margin-top: 0;
  width: 100%;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.places h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

.places article.place {
  margin-left: 0;
}

.places article.centered {
  margin-left: auto;
  margin-right: auto;
}

.places article .price_by_night {
  font-size: 30px;
  color: #FF5A5F;
  border: 4px solid #FF5A5F;
  border-radius: 50%; /* Fully rounded border */
  min-width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 10px;
}
.places article .price_by_night::after {
  content: attr(data-amount); /* Use the data-amount attribute as content */
}

.places article .information {
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  justify-content: space-around; /* Updated to space-around to distribute items evenly */
}

.places article .max_guest,
.places article .number_rooms,
.places article .number_bathrooms {
  width: 100px;
  display: flex;
  flex-direction: column; /* Updated to column to stack items vertically */
  align-items: center;
}

.places article .max_guest .icon,
.places article .number_rooms .icon,
.places article .number_bathrooms .icon {
  margin-bottom: 5px; /* Updated to margin-bottom for spacing between icon and text */
}

.places article .user {
  font-weight: bold;
}
